*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body {
   
    font-family: Helvetica, Arial, sans-serif;
        line-height: 1.6;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
    margin-left: 2em;
    margin-right: 2em;
}

main{
    width: 1000px;
    margin: 0 auto;
  padding: 0 20px;
    font-size: 1em;

}

h1 {
    font-size: 2.5em;
    padding-bottom: 10px;
    border: none;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    height: auto;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
     justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

h3{
    margin-bottom: 2em;
}
p {
    margin-bottom: 10px;
    line-height: 1.6;
}


.anexos{
    margin-bottom:1px;
}
ul {
    margin-bottom: 15px;
    
}

li {
    line-height: 1.6;
    margin-bottom: 5px;
}
a {
    color: #02468f;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.important {
    font-weight: bold;
    color: #d9534f;
}

.italic{
    font-style: italic;
    font-size: x-small;
    text-align: center;
    margin-top: 3em;


}

section{
    display: flex;
     flex-wrap: wrap;
justify-content: space-around;
}



.icone{
    width: 70px;
    height: auto;
    margin-right: 5px;
    margin-top: 1.5em;
    vertical-align: middle;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 200px;
    height: 150px;
   
    border-radius: 10px;
}

.card:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}
.card:hover .icone{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.card p{
    margin-top: 10px;
    text-align: center;
    font-size: 0.6em;
    color: #333;
}













.card2{
    display: flex;
     flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    width: 200px;
    height: 150px;
}

.card2:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}
.card2:hover .icone{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.card2 p{
    margin-top: 10px;
    text-align: center;
    font-size: 0.6em;
    color: #333;
}
